/* 头部 */
#header{
    width:100%;
    height: 44px;
    line-height: 44px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index:9999;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 6px 0;
    box-sizing: border-box;
    border:1px solid #ccc;
}
body{
    background:rgba(0, 0, 0, 0.05);
    font-size: 12px;
}
/* 购物车 */
.cartlist{
    padding-top: 44px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
  }
.cartlist_list{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.cartlist_list .cartlist_listj{
    color:#999;
    margin-bottom: 10px;
}
.cartlist_list .extravagant{
    width: 249px;
    height: 40px;
   line-height: 40px;
    background: #9b885f;
    margin: 0 auto;
    color:#fff;
    border-radius: 5px;
}
.text_like{
    color: #999;
    text-align: center;
    font-size: 12px;
    margin: 20px 0;
}



  /* 猜您喜欢 */

  .content{
    width: 100%;
    height: 100%;
  }
.content ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.content ul li{
    width: 49.5%;
    margin-bottom: 3px;
    background: #fff;
    position: relative;
  }
  .content ul li a{
      display: inline-block;
  }
  .content ul li a p{
    line-height: 20px;
    text-align: center;
 }
.text_ellipsis{
    width:185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.text_price{
  color:  #9b885f ;
  font-weight: 700;
  text-align: center;
}
.content ul li img{
    width:99%;
    height: 100%;
    margin-bottom: 1px;
  }
content ul li .text{
  width: 100%;
  }
.text_sellout{
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32.5px;
    margin-top: -32.5px;
    z-index: 1;
}

