/* 头部 */
#header {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 6px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

body {
  font-size: 12px;
}

/* who */
#who {
  width: 100%;
  padding-top: 64px;
}

.border_line {
  width: 100%;
  border-top: 10px solid #f2f2f2;
}

#who .line {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border-left: 4px solid #9b885f;
  margin: 5px 0;
}

#who .line span {
  padding-left: 10px;
}

.content,.contentimg{
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;

}

.content ul,.contentimg ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content ul li{
  width: 49.5%;
  margin-bottom: 10px;
  background: #fff;
  position: relative;
}

.content ul li a {
  display: inline-block;
}

.content ul li a p {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.content ul li img {
  width: 95%;
  height: 100%;
  margin-bottom: 1px;
  border-radius: 7px;
}

.content .more_t{
  line-height: 26px;
  text-align: center;
  color: #666;
}

.contentimg ul li {
  width: 100%;
  margin-bottom: 8px;
  background: #fff;
  position: relative;
}

.contentimg ul li a {
  display: inline-block;
}

.contentimg ul li a p{
  position: absolute;
  width: 100%;
  bottom:10px;
  left:50px;
  font-size: 12px;
  color: #fff;
}

.contentimg ul li img {
  width: 100%;
  height: 100%;
}
#who::-webkit-scrollbar {
  display: none;
}
.contentimg .nomargin{
  margin-bottom: 0;
}
.more_b{
  line-height:40px;
  text-align: center;
  color: #666;
  height: 40px;
  background: #f2f2f2;
}